.header {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 75px;
    background-color: rgb(19, 19, 19);
}

.header-left {
    margin-left: 50px;
}

.header-logo {
    height: 26px;
    cursor: pointer;
}

.header-middle {
    min-width: 0;
    display: flex;
    flex: 1;
    max-width: 700px;
    margin-left: 75px;
    margin-right: 50px;
}

.searchbar {
    min-width: 0;
    flex: 1;
    height: 30px;
    padding-left: 10px;
    margin-right: 2px;
    font-family: Roboto, Arial;
    font-size: 16px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05) inset;
    transition: opacity 0.2s, box-shadow 0.2s;
}

.searchbar:hover {
    opacity: 0.9;
}

.searchbar:focus {
    outline: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15) inset;
}

.searchbar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    border: none;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05) inset;
    transition: opacity 0.2s, box-shadow 0.2s;
}

.search-button:hover {
    opacity: 0.9;
}

.search-button:active {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15) inset;
}

.search-button-icon {
    height: 18px;
    padding-right: 5px;
}

.header-right {
    display: flex;
    margin-right: 30px;
}

.create-button {
    display: flex;
    align-items: center;
    height: 32px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 15px;
    border-radius: 18px;
    cursor: pointer;
    background-color: rgb(39, 39, 39);
    color: rgb(235, 235, 235);
    transition: color 0.2s, background-color 0.2s; 
}

.create-button:hover {
    color: rgb(24, 24, 24);
    background-color: rgb(235, 235, 235);
}

.create-button-icon {
    height: 12px;
    margin-left: 8px;
    transition: filter 0.2s;
}

.create-button:hover .create-button-icon {
    filter: invert(0.9);
}

.profile-button-icon {
    height: 32px;
    border-radius: 18px;
    cursor: pointer;
}