body {
    /* Centers content */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute; 

    font-family: Roboto, Arial;
    background-color: rgb(29, 29, 29);
}

p {
    font-family: Roboto, Arial;
    margin: 0;
}