:root {
	--dark-grey: rgb(29, 29, 29);
	--medium-grey: rgb(39, 39, 39);
	--light-grey: rgb(50, 50, 50);

	--text-color-white: rgb(235, 235, 235);
	--text-color-lightgrey: rgb(201, 201, 201);
	--text-color-black : rgb(24, 24, 24);

	--transition-02: all 0.2s;
  --transition-03: all 0.3s;
}

.header-sidebar {
  z-index: 100;
  position: fixed;
  display: flex;
  flex-direction: row;

  right: 0;
  top: 75px;
  bottom: 0;
  left: 0;
}

.header-sidebar.closed {
  z-index: -1;
}

.header-sidebar-empty {
  flex: 1;
  background-color: black;
  opacity: 0.25;
  transition: var(--transition-03);
}

.js-header-sidebar-empty.closed {
  opacity: 0;
}

.header-sidebar-content {
  display: flex;
  flex-direction: column;
  width: 250px;

  background: none;
  background-color: var(--dark-grey);
  padding-left: 10px;
  padding-right: 10px;

  transition: var(--transition-03);
}

.js-header-sidebar-content.closed {
  width: 0;
}

.js-header-sidebar-content.closed div {
  opacity: 0;
}

.header-sidebar-user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-sidebar-user-info-text {
  font-size: 15px;
  color: var(--text-color-white);
}

.header-sidebar-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.header-sidebar-top-buttons {
  display: flex;
  flex-direction: column;
}

.header-sidebar-bottom-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}