.rectangle-input-field {
    padding: 9px 9px;

    font-family: Roboto, Arial;
    font-size: 16px;
    color: rgb(235, 235, 235);

    background-color: rgb(50, 50, 50);
    border: none;
    border-radius: 4px;
}

.rectangle-input-field:focus {
    outline: none;
}