:root {
	--dark-grey: rgb(29, 29, 29);
}

body {
  padding-top: 75px;
  font-family: Roboto, Arial;
  background-color: var(--dark-grey);
}

p {
  font-family: Roboto, Arial;
  margin: 0;
}

a {
  text-decoration: none;
} 
  
a:visited {
  text-decoration: none;
}